@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700;800&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
  color: rgba(255, 255, 255, 0.8);
}
input[type="date"] {
  color-scheme: "dark";
}
.prompt-box,
.inp-num {
  border-bottom-width: 1px;
  border-color: rgba(255, 255, 255, 0.1);
  border-left-width: 1px;
  border-right-width: 1px;
  border-style: solid;
  border-top-width: 1px;
  place-content: flex-start;
  align-items: flex-start;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  display: flex;
  flex: 0 0 auto;
  flex-flow: column nowrap;
  gap: 10px;
  overflow: hidden;
  padding: 20px;
  position: relative;
  will-change: transform;
  overflow: auto;
  outline: none;
  resize: none;
  font-size: 16px;
  font-style: normal;
  letter-spacing: 0px;
  line-height: 1.6em;
  text-align: start;
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
  text-transform: none;
}

.prompt-box:focus {
  border-color: rgba(255, 255, 255, 0.75);
}

.prompt-buttons {
  display: flex;
  place-content: center;
  align-items: center;
  justify-content: flex-end;
  flex: 0 0 auto;
  flex-flow: row nowrap;
  gap: 12px;
  height: min-content;
  padding: 0px;
  position: relative;
  width: 100%;
}
